@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Black.ttf") format("ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Bold.ttf") format("ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather-Light.ttf") format("ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Abril Fat Face";
    src: url("../assets/fonts/AbrilFatface-Regular.ttf") format("ttf");
}