@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Regular.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Bold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Light.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Abril Fat Face";
  src: url("../assets/fonts/AbrilFatface-Regular.woff") format("woff");
}

@keyframes BoogyWoogie {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

body {
  font-family: "Merriweather";
}

/* Navbar */
nav {
  background-color: #d52c57;
  transition: all 0.2s ease-in-out;
}

nav {
  padding-bottom: 0;
  font-size: 1.2rem;
}

.nav-item {
  position: relative;
  margin-right: 10px;
  padding-bottom: 3px;
}

.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #fff;
  height: 3px;
  width: 0;
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav-item:hover::after,
.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #fff;
  height: 3px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.active:hover::after {
  height: 6px;
}

.nav-item {
  color: #fff;
}

.navbar-toggler {
  border-radius: 0;
  border-color: transparent;
}
.navbar-toggler span {
  filter: invert();
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
}

/* Header de la page index */
header.main {
  position: relative;
  height: 100vh;
  background: rgb(0, 0, 0);
}
header.main h1 {
  position: absolute;
  left: 50%;
  top: calc(50% - 50px);
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Abril Fat Face";
}
header.main h1 span {
  font-size: 4rem;
  display: block;
  margin: 25px;
}
header.main nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}
header.main i {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 2rem;
  color: #fff;
  animation: BoogyWoogie 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite
    alternate;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* Ajuste les row flexbox pour quelles aient la même hauteur sur une row */
.row.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.d-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

h2,
h3,
h4,
h5 {
  font-family: "Abril Fat Face";
  font-weight: bolder;
}

p::first-letter {
  font-weight: bold;
  font-size: 2rem;
  color: #d52c57;
}

/* Section */
h2 {
  color: #fff;
  background-color: #000000;
  width: 100%;
  height: 80px;
  border-left: #dcdcdc solid 20px;
  line-height: 60px;
  padding: 10px;
}
article p,
article ul {
  margin-top: 25px;
  padding: 30px;
  box-shadow: 0px 23px 32px 10px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  line-height: 3rem;
}
article ul{
  list-style: none;
}
article ul li::before {
  content: "\2022";
  color: red;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.main-row {
  min-height: 80vh;
}

#chrono {
  margin-top: 100px;
}

/* Navbar */
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.alternate-navbar {
  background-color: #8d0c2d;
  transition: all 0.2s ease-in-out;
}

/* Card */
header h2 {
  color: #fff;
  background-color: #000000;
  width: 100%;
  height: 70px;
  border-left: #dcdcdc solid 20px;
  line-height: 50px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card {
  border-radius: 0;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
}
.card-header {
  background-color: transparent;
  border: none;
}
.card .btn {
  border-radius: 0;
  font-family: "Abril Fat Face";
  text-transform: uppercase;
  border-color: #d52c57;
  color: #d52c57;
  padding: 15px 10px 15px 10px;
  font-size: 1.5rem;
}
.btn:hover,
.btn:target,
.btn:active {
  border-radius: 0;
  font-family: "Abril Fat Face";
  text-transform: uppercase;
  border-color: #d52c57;
  color: #fff;
  background-color: #d52c57;
}

/* Discord Container */
.discord-container {
  background-color: #7289da;
  color: #fff;
  padding: 2rem;
  box-shadow: 0px 23px 32px 10px rgba(0, 0, 0, 0.25);
}
/* Twitch Container */
.twitch-container {
  position: relative;
}
.twitch-container p {
  position: absolute;
  top: 0;
  left: 25px;
  color: #fff;
}
/* Among Us Container */
.amongus-container {
  position: relative;
}
.amongus-container p {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  color: #fff;
  -webkit-text-stroke: 0.5px black;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Bulle Container */
.bulle-container{
  position: relative;
  width: 100%;
}
.bulle-container > img{
  width: 100%;
  height: 200px;
}
.bulle-container p:first-of-type{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  color: #000;
  font-size: 1.2rem;
}
.bulle-container p:last-of-type{
  position: absolute;
  bottom: 0;
  right: 2%;
  color: #2A2A2A;
  font-size: 1rem;
}

/* Initiatives Section */
#initiatives-row > h3 {
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  border-bottom: solid 0.5px #000;
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
#initiatives-row > h3:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/* Initiatives Row First Element */
#initiatives-row .row:first-child {
  margin-bottom: 5%;
}
/* Initiatives Row */
#initiatives-row .row {
  margin-bottom: 20%;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0 50px 0;
}

/* Change button default behavior */
.btn,
.btn:focus,
.btn:active {
  outline: none !important;
}

/* Arrow to top */
.gotop {
  z-index: 9999;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

/* Responsivité */
@media (max-width: 680px) {
  h2 {
    font-size: 1.5rem;
  }
  /* Twitch Container */
  .twitch-container {
    position: relative;
    color: #fff;
    background-color: #6c4a7e;
    padding: 5px 5px 5px 5px;
  }
  .twitch-container img {
    display: none;
  }
  .twitch-container p {
    position: relative;
    top: 0;
    left: 0;
  }
  /* Among Us Container */
  .amongus-container {
    position: relative;
    color: #fff;
    background-color: #383838;
    padding: 5px 5px 5px 5px;
  }
  .amongus-container img {
    display: none;
    font-size: 1rem;
  }
  .amongus-container p {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-text-stroke: 0px;
    font-weight: normal;
    font-size: 1rem;
  }
}
